<% provide(:title, "Select") %>
<div class="hopes">
  <div class="container">
    <h2 class="text-center">あなたが着てみたいシャツの色をボックスの中から選択してください</h2>
      <div class="reverse">
        <div class="col-md-6 text-center">
          <%= image_tag "white_shirt.jpg", alt:"白の無地", class:"white section size" %>
          <%= image_tag "blue_shirt.jpg", alt:"青の無地", class:"blue section size" %>
          <%= image_tag "stripe_shirt.jpg", alt:"ストライプ", class:"stripe section size" %>
        </div>
        <div class="col-md-6">
          <div class="main-box">
            <div class="sub-box" id="白無地">
              <p>白無地</p>
              <div class="white_shirt secList" id="white">
              </div>
            </div>
            <div class="sub-box" id="青無地">
              <p>青無地</p>
              <div class="blue_shirt secList" id="blue">
              </div>
            </div>
            <div class="sub-box" id="ストライプ">
              <p>ストライプ</p>
              <div class="stripe_shirt secList" id="stripe">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="btn_to_final">
    <%= form_for @hope_shirts, url: {controller: 'hopes_shirt' , action: 'create' } do |f| %>
      <%= f.hidden_field :shirt_pattern, value: "", id:"submit" %>
      <%= f.submit "これで決定！", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<script>
$(function () {
  //クリックした要素のidをsubmitのvalueにする
  $(".sub-box").on("click", function (){
    var result = $(this).attr("id");
    document.querySelector("#submit").value = result;
  });

  //image_tagを隠し、色をクリックしたら出現させる
  $(".section").hide();
  $(".secList").on("click", function () {
    // クリックした要素の ID と違うクラス名のセクションを非表示
    $(".section").not($("." + $(this).attr("id"))).hide();
    // クリックした要素の ID と同じクラスのセクションを表示
    $("." + $(this).attr("id")).fadeIn(500);
  });

  //ホバーアクション
  $(".secList").hover(function () {
    $(this).css("height", "70px");
    $(this).css("width", "70px");
    $(this).css("margin-left", "10px");
    $(this).css("margin-right", "10px");
  },
  function () {
    $(this).css("height", "90px");
    $(this).css("width", "90px");
    $(this).css("margin-left", "0px");
    $(this).css("margin-right", "0px");
  });
});
</script>
