<% provide(:title, "Home") %>
<div class="contents">
  <div class="discription">
    <h1>あなたにスーツを提案</h1>
    <p>Suit simulaterはあなたに似合うスーツをバーチャル世界で提案するアプリです。スーツの合わせ方が難しいと思う方、なにかギフトをあげたいがどんな柄を選べば良いかわからない方に一役買います</p>
  </div>
  <%= image_tag "home.jpeg", size: "500x500", alt:"茶系スーツ", class:"img-circle" %>
</div>

  <div class="contents">
    <%= image_tag "jkt.jpeg", size: "500x500", alt:"ジャケット画像2", class:"img-circle" %>
    <div class="discription">
      <h1>新しくスーツを仕立てたい時のイメージ作りができます</h1>
      <p>新しいスーツが欲しいのに、どんな色や柄がふさわしいかわからない。そんな時にこのサイトでイメージ作りにシミュレートできます</p>
    </div>
  </div>

<div class="search-section">
  <h1>手持ちのスーツから似合うシャツやネクタイを探すなど、手持ちのアイテムから似合うスーツを作ることも可能です</h1>
</div>


  <div class="select">
    <div class="items">
      <a href="#" class="btn btn-lg btn-outline-primary" suit_path >スーツを探す</a>
      <br>
      <%= image_tag "WP.jpeg", size: "300x300", alt:"スーツサンプル画像", class:"img-circle" %>
    </div>

    <div class="items">
      <a href="#" class="btn btn-lg btn-outline-primary">シャツを探す</a>
      <br>
        <%= image_tag "kitten.jpeg", size: "300x300", alt:"シャツサンプル画像", class:"img-circle" %>
    </div>

    <div class="items">
      <a href="#" class="btn btn-lg btn-outline-primary">ネクタイを探す</a>
      <br>
        <%= image_tag "tie.jpeg", size: "300x300", alt:"ネクタイサンプル画像", class:"img-circle" %>
    </div>

  </div>
