<% provide(:title, "Home") %>
<div class="static_pages text-center">
  <div class="suit_img">
    <div class="container-fluid">
      <div class="row text-left fadein">
        <div class="col-md-6 pull-left home sample">
          <h1>あなたに似合うスーツを探しましょう</h1>
          <p>Suit simulaterはあなたに似合うスーツをバーチャル世界で提案するアプリです。スーツの合わせ方が難しいと思う方、なにかギフトをあげたいがどんな柄を選べば良いかわからない方に一役買います</p>
          <% if logged_in? %>
            <%= link_to " ここから探してみる", current_user, class: 'btn btn-default' %>
            <% else %>
            <%= link_to "早速トライしてみる", current_user, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="jkt_img">
    <div class="container-fluid">
      <div class="row text-left fadein">
        <div class="col-md-6 pull-right home">
          <h1>新しくスーツを買うならここでイメージを作りましょう</h1>
          <p>どんな色や柄がふさわしいかわからない。
          そんな時にこのサイトでイメージ作りにシミュレートできます</p>
          <% if logged_in? %>
            <%= link_to " シミュレート", current_user, class: 'btn btn-default' %>
            <% else %>
            <%= link_to "早速トライしてみる", current_user, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="container text-center">
    <div class="col-md-4 col-cm-6 items">
      <%= image_tag "suit.jpg", size: "300x300", alt:"スーツ画像", class:"img-circle" %>
        <% if logged_in? %>
          <h3><%= link_to "スーツを探す",  select_suit_user_url(current_user) %></h3>
          <h3>早速シミュレートしてみましょう！スーツはビジネスにおいてあなたの印象を決める大切な要素に違いありません。</h3>
        <% else %>
          <h3 class="text-center"><%= link_to "ログインして探す", login_path %></h3>
        <% end %>
    </div>
    <div class="col-md-4 col-cm-6 items">
      <%= image_tag "shirt1.jpg", size: "300x300", alt:"シャツ画像", class:"img-circle" %>
        <% if logged_in? %>
          <h3><%= link_to "シャツを探す",  select_shirt_user_url(current_user) %></h3>
          <h3>シャツはあなたのスーツとネクタイのバランスを保つ意外と忘れてはいけない存在です。</h3>
        <% else %>
          <h3 class="text-center"><%= link_to "ログインして探す", login_path %></h3>
        <% end %>
    </div>
    <div class="col-md-4 col-cm-6 items">
      <%= image_tag "tie.jpg", size: "300x300", alt:"ネクタイ画像", class:"img-circle" %>
        <% if logged_in? %>
          <h3><%= link_to "ネクタイを探す",  select_tie_user_url(current_user) %></h3>
          <h3>ネクタイはその模様と色によって印象がガラッと変わる不思議なアイテムです。あなたに似合う柄を探してみましょう。</h3>
        <% else %>
          <h3 class="text-center"><%= link_to "ログインして探す", login_path %></h3>
        <% end %>
    </div>
  </div>-->
  <div class="container-fluid">
    <h1>簡単操作で気軽に使えます</h1>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "tie.jpg", size: "300x300", alt:"ネクタイ画像", class:"img-circle" %>
      </div>
      <div class="col-md-6 text-left">
        <p>一目でわかるコンテンツ</p>
        <p>コーディネートの参考にできるギャラリー</p>
        <p>スーツ、シャツ、ネクタイどれを選んでも最適な組み合わせを提案</p>
      </div>
    </div>
    <p></p>
  </div>
  <div class="container-fluid footer_content">
    <h1 class="text-center">さっそくSuit_simulaterでさがしてみましょう。</h1>
    <p>たった30秒で結果がわかります</p>
    <% if logged_in? %>
      <%= link_to " さっそく探してみる", current_user, class: 'btn btn-default' %>
    <% else %>
      <%= link_to "早速トライしてみる", current_user, class: 'btn btn-default' %>
    <% end %>
  </div>
<div>
