<% provide(:title, "Home") %>
<div class="static_pages text-center">
  <div class="suit_img">
    <div class="container-fluid">
      <div class="row text-left">
        <div class="col-md-6 text-left pull-left fadein main_1">
          <h1>Suit_simulater<span>とは？</span></h1>
          <div>
            <p>スーツ、ネクタイ、シャツの<span>綺麗な組み合わせ</span>を教えるアプリです。</p>
            <p>ネクタイとスーツの組み合わせって難しいですよね。</p>
            <p>その悩み、<span>全て解決</span>できます。</p>
            <p>操作は持ってるスーツなどそのアイテムの色を選択するだけ。</p>
            <p>下のボタンから早速シミュレートしてみましょう！</p>
          </div>
          <% if logged_in? %>
            <%= link_to " ここからシミュレート", current_user, class: 'btn btn-default' %>
            <% else %>
            <%= link_to "早速トライしてみる", login_path, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="jkt_img">
    <div class="container-fluid">
      <div class="row fadein">
        <div class="col-md-6 text-left pull-right main_2">
          <h1>欲しいスーツがあるなら？</h1>
          <p>そのスーツに合う<span>シャツ</span>や<span>ネクタイ</span>を探すのにも役立ちます。</p>
          <p>あるいはネクタイに合うスーツとシャツをさがすことも。</p>
          <p>例えば、ネクタイを<span>プレゼント</span>したいあなたには、おすすめの柄を提案します</p>
          <% if logged_in? %>
            <%= link_to " シミュレート", current_user, class: 'btn btn-default text' %>
            <% else %>
            <%= link_to "早速トライしてみる", current_user, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid main_3">
    <h1>簡単操作で気軽に使えます</h1>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "tie.jpg", size: "300x300", alt:"ネクタイ画像", class:"img-circle" %>
      </div>
      <div class="col-md-6 text-left main_3_1">
        <p>一目でわかるコンテンツ</p>
        <p>コーディネートの参考にできるギャラリ</p>
        <p>スーツ、シャツ、ネクタイどれを選んでも最適な組み合わせを提案</p>
      </div>
    </div>
    <p></p>
  </div>
  <div class="container-fluid footer_content">
    <h1 class="text-center">早速Suit_simulaterでさがしてみましょう。</h1>
    <p>たった30秒で結果がわかります</p>
    <% if logged_in? %>
      <%= link_to " さっそく探してみる", current_user, class: 'btn btn-default' %>
    <% else %>
      <%= link_to "早速トライしてみる", current_user, class: 'btn btn-default' %>
    <% end %>
  </div>
<div>
