<% provide(:title, "Home") %>
<div class="static_pages text-center">
  <div class="suit_img">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-left pull-left sample">
          <h1>あなたに似合うスーツを探すことができます</h1>
          <p>Suit simulaterはスーツの合わせ方が難しいと思う方、なにかギフトをあげたいがどんな柄を選べば良いかわからない方に一役買います</p>
          <p>ネクタイとスーツの柄の組み合わせ</p>
          <span>シャツとネクタイの組み合わせ</span>
          <br>
          <% if logged_in? %>
            <%= link_to " ここから探してみる", current_user, class: 'btn btn-default' %>
            <% else %>
            <%= link_to "早速トライしてみる", current_user, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="jkt_img">
    <div class="container-fluid">
      <div class="row text-left fadein">
        <div class="col-md-6 pull-right">
          <h1>新しくスーツを買うならここでイメージを作りましょう</h1>
          <p>どんな色や柄がふさわしいかわからない。
          そんな時にこのサイトでイメージ作りにシミュレートできます</p>
          <% if logged_in? %>
            <%= link_to " シミュレート", current_user, class: 'btn btn-default' %>
            <% else %>
            <%= link_to "早速トライしてみる", current_user, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <h1>簡単操作で気軽に使えます</h1>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "tie.jpg", size: "300x300", alt:"ネクタイ画像", class:"img-circle" %>
      </div>
      <div class="col-md-6 text-left">
        <ul>
          <li>一目でわかるコンテンツ</li>
          <li>コーディネートの参考にできるギャラリー</li>
          <li>スーツ、シャツ、ネクタイどれを選んでも最適な組み合わせを提案</li>
        </u>
      </div>
    </div>
    <p></p>
  </div>
  <div class="container-fluid footer_content">
    <h1 class="text-center">さっそくSuit_simulaterでさがしてみましょう。</h1>
    <p>たった30秒で結果がわかります</p>
    <% if logged_in? %>
      <%= link_to " さっそく探してみる", current_user, class: 'btn btn-default' %>
    <% else %>
      <%= link_to "早速トライしてみる", current_user, class: 'btn btn-default' %>
    <% end %>
  </div>
<div>
