<%= stylesheet_link_tag '/sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h2>ログイン</h2>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>パスワードを保存する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>初めての方こちら</p>
    <%= link_to "アカウントを作成しましょう!", signup_path %>
  </div>
</div>
