<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Log in</h2>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :Email %>
      <%= f.email_field :email %>

      <%= f.label :Password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Save your password</span>
      <% end %>

      <%= f.submit "Login", class: "btn btn-primary" %>
    <% end %>

    <p>use first?</p>
    <%= link_to "Sign up now!", signup_path %>
  </div>
</div>


<!--<form class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
  <input type="password" class="login-password" required="true" placeholder="Password" />
  <input type="submit" name="Login" value="Login" class="login-submit" />
</form>
<a href="#" class="login-forgot-pass">forgot password?</a>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>-->
