<div class="hopes">
  <div class="container">
    <p class="text-center">あなたが着てみたいスーツの色をボックスの中から選択してください</p>
      <div class="row">
        <div class="suit_pic col-md-6 text-center">
          <%= image_tag "navy1.jpg", alt:"ネイビー", class:"navy section size" %>
          <%= image_tag "right-gray1.jpg", alt:"グレー", class:"gray section size" %>
          <%= image_tag "black1.jpg", alt:"ブラック", class:"black section size" %>
          <%= image_tag "beige1.jpg", alt:"ベージュ", class:"beige section size" %>
        </div>
        <div class="col-md-6">
          <div class="main-box">
            <div class="sub-box">
              <p>ネイビー</p>
                <div class="pattern-navy secList" id="navy">
                </div>
            </div>
            <div class="sub-box">
              <p>グレー</p>
                <div class="pattern-gray secList" id="gray">
                </div>
            </div>
            <div class="sub-box">
              <p>ブラック</p>
                <div class="pattern secList" id="black">
                </div>
            </div>
            <div class="sub-box">
              <p>ベージュ</p>
                <div class="pattern-beige secList" id="beige">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="btn_to_final">
    <%= link_to "これで決定！", result_suit_path, class:'btn btn-lg btn-outline-primary'%>
  </div>
</div>

<script>
$(function(){
  $(".section").hide();
  $(".secList").on("click",function(){
    // クリックした要素の ID と違うクラス名のセクションを非表示
    $(".section").not($("."+$(this).attr("id"))).hide();
    // クリックした要素の ID と同じクラスのセクションを表示
    $("."+$(this).attr("id")).fadeIn(500);

  });
});

$(function(){
    $(".secList").hover(function(){
      $(this).css("height", "80px");
      $(this).css("width", "80px");
      $(this).css("margin-left", "10px");
      $(this).css("margin-right", "10px");

    },
    function(){
      $(this).css("height", "100px");
      $(this).css("width", "100px");
      $(this).css("margin-left", "0px");
      $(this).css("margin-right", "0px");
    });
});


</script>
