<div class="hopes">
  <div class="container">
    <p class="text-center">あなたが着てみたいスーツの色をボックスの中から選択してください</p>
      <div class="row wrap-reverse">
        <div class="suit_pic col-md-6 text-center">
          <%= image_tag "navy1.jpg", alt:"ネイビー", class:"navy section size" %>
          <%= image_tag "right-gray1.jpg", alt:"グレー", class:"gray section size" %>
          <%= image_tag "black1.jpg", alt:"ブラック", class:"black section size" %>
          <%= image_tag "beige1.jpg", alt:"ベージュ", class:"beige section size" %>
          <%= image_tag "check1.jpg", alt:"チェック", class:"check section size" %>
          <%= image_tag "windowp1.jpg", alt:"ウィンドウペン", class:"wp section size" %>
        </div>
        <div class="col-md-6">
          <div class="main-box">
            <div class="sub-box" value="ネイビー">
              <p>ネイビー</p>
              <div class="pattern-navy secList" id="navy">
              </div>
            </div>
            <div class="sub-box" value="グレー">
              <p>グレー</p>
              <div class="pattern-gray secList" id="gray">
              </div>
            </div>
            <div class="sub-box" value="ブラック">
              <p>ブラック</p>
              <div class="pattern secList" id="black">
              </div>
            </div>
            <div class="sub-box" value="ベージュ">
              <p>ベージュ</p>
              <div class="pattern-beige secList" id="beige">
              </div>
            </div>
            <div class="sub-box" value="チェック">
              <p>チェック</p>
              <div class="pattern-check secList" id="check">
              </div>
            </div>
            <div class="sub-box" value="ウィンドウペン">
              <p>ウィンドウペン</p>
              <div class="pattern-wp secList" id="wp">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="btn_to_final">
    <%= form_for @suit_color, url: result_suit_path do |f| %><!--methodどうする？-->
      <!--HopeSuitモデルのsuit_colorカラムに格納したい-->
      <%= f.hidden_field :suit_color, id:"sample", value: HopeSuit.suit_color, class: "form-control" %>
      <!--対象のコントローラーへの書き換えをする-->
      <%= f.submit "これで決定！", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
