<% provide(:title, 'Suit') %>
<div class="container fadein">
  <p class="center">ここでは手持ちのスーツとネクタイに合うようにシャツを提案します。<br>お手持ちのスーツに当てはまるものを選んでください</p>
    <div class="contents2">
      <div class="suit_pic">
        <div>
          <%= image_tag "home.jpeg", size: "380x380", alt:"茶系スーツ", class:"xxx section" %>
          <%= image_tag "WP.jpeg", size: "380x380", alt:"茶系スーツ", class:"yyy section" %>
          <%= image_tag "tie.jpeg", size: "380x380", alt:"茶系スーツ", class:"zzz section" %>
        </div>
      </div>

      <div class="main-box">
        <div class="sub-box">
          <p>無地</p>
            <div class="pattern-navy secList" id="xxx">
            </div>
        </div>
        <div class="sub-box">
          <p>同系色の柄あり</p>
            <div class="pattern-gray secList" id="yyy">
            </div>
        </div>
        <div class="sub-box">
          <p>柄あり</p>
            <div class="pattern-darkgray secList" id="zzz">
            </div>
        </div>
      </div>
    </div>
  <div class="space">
  </div>
  <p class="center">お手持ちのネクタイに当てはまるものを選んでください</p>
    <div class="contents2">
      <div class="suit_pic">
        <div>
          <%= image_tag "home.jpeg", size: "380x380", alt:"茶系スーツ", class:"xxx section" %>
          <%= image_tag "WP.jpeg", size: "380x380", alt:"茶系スーツ", class:"yyy section" %>
          <%= image_tag "tie.jpeg", size: "380x380", alt:"茶系スーツ", class:"zzz section" %>
        </div>
      </div>

      <div class="main-box">
        <div class="sub-box">
          <p>無地</p>
            <div class="pattern-navy secList" id="xxx">
            </div>
        </div>
        <div class="sub-box">
          <p>同系色の柄あり</p>
            <div class="pattern-gray secList" id="yyy">
            </div>
        </div>
        <div class="sub-box">
          <p>柄あり</p>
            <div class="pattern-darkgray secList" id="zzz">
            </div>
        </div>
      </div>
    </div>

    <div class="btn_to_final">
      <a class="btn btn-lg btn-outline-primary">これで決定！</a>
    </div>
  </div>
</div>

<script>
$(function(){
  $(".section").hide();
  $(".secList").on("click",function(){
    // クリックした要素の ID と違うクラス名のセクションを非表示
    $(".section").not($("."+$(this).attr("id"))).hide();
    // クリックした要素の ID と同じクラスのセクションを表示
    $("."+$(this).attr("id")).fadeIn(500);

  });
});

$(function(){
    $(".secList").hover(function(){
      $(this).css("height", "80px");
      $(this).css("width", "80px");
      $(this).css("margin-left", "10px");
      $(this).css("margin-right", "10px");

    },
    function(){
      $(this).css("height", "100px");
      $(this).css("width", "100px");
      $(this).css("margin-left", "0px");
      $(this).css("margin-right", "0px");
    });
});

$(window).scroll(function (){
    $('.fadein').each(function(){
        var elemPos = $(this).offset().top,
            scroll = $(window).scrollTop(),
            windowHeight = $(window).height();
          if (scroll > elemPos - windowHeight + 100){
              $(this).addClass('scrollin');
            }
        });
    });

</script>
