<% provide(:title, "Select") %>
<div class="hopes">
  <div class="container">
    <h2 class="text-center">あなたが付けてみたい、または持っているネクタイの柄をボックスの中から選択してください</h2>
      <div class="reverse">
        <div class="col-md-6 text-center">
          <%= image_tag "no_pattern_tie.jpg", alt:"無地", class:"no-pattern section size" %>
          <%= image_tag "dot_tie.jpg", alt:"ドット", class:"dot section size" %>
          <%= image_tag "stripe_tie.jpg", alt:"ストライプ", class:"stripe section size" %>
          <%= image_tag "same_pattern_tie.jpg", alt:"同系色模様", class:"same_pattern section size" %>
          <%= image_tag "paisley_tie.jpg", alt:"ペイズリー", class:"paisley section size" %>
          <%= image_tag "point_tie.jpg", alt:"小紋", class:"point section size" %>
        </div>
        <div class="col-md-6">
          <div class="main-box">
            <div class="sub-box" id="無地">
              <p>無地</p>
              <div class="normal_tie secList" id="no-pattern">
              </div>
            </div>
            <div class="sub-box" id="ドット">
              <p>ドット</p>
              <div class="dot_tie secList" id="dot">
              </div>
            </div>
            <div class="sub-box" id="ストライプ">
              <p>ストライプ</p>
              <div class="stripe_tie secList" id="stripe">
              </div>
            </div>
            <div class="sub-box" id="同系色模様">
              <p>同系色模様</p>
              <div class="same_color_tie secList" id="same_pattern">
              </div>
            </div>
            <div class="sub-box" id="ペイズリー">
              <p>ペイズリー</p>
              <div class="paisley_tie secList" id="paisley">
              </div>
            </div>
            <div class="sub-box" id="小紋">
              <p>小紋</p>
              <div class="point_tie secList" id="point">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="btn_to_final">
    <%= form_with model: @hope_ties, url: {controller: 'hopes_tie_patterns' , action: 'create' }, local: true do |f| %>
      <%= f.hidden_field :tie_pattern, value: "", id:"submit" %>
      <%= f.submit "これで決定！", class: "btn" %>
    <% end %>
  </div>
</div>
