<% provide(:title, 'Edit user') %>
<div class="new">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 log_in">
      <h1 class="text-center">アカウント</h1>
      <p class="text-center">ここでアカウント情報の変更ができます</p>
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.label :名前 %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :メールアドレス %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :年齢 %>
          <%= f.select :age, [["10~20代","10~20代"],["30代","30代"],["40代","40代"],["50代","50代"],["60代以上","60代以上"]], {prompt:"選択してください"}, {class: 'form-control'} %>

          <%= f.label :性別 %>
          <%= f.select :gender, User.genders, {prompt:"選択してください"}, {class: 'form-control'} %>

          <%= f.label :パスワード %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "パスワード（確認）" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit "更新する", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
