<% provide(:title, "マイページ") %>
<%= @user.name %>, <%= @user.email %>
<div class="container">
  <div class="col-md-4 items">
    <%= link_to "スーツを探す", select_suit_user_url(current_user), class:"btn btn-lg btn-outline-primary" %>
    <br>
    <%= image_tag "suit.jpg", size: "300x300", alt:"スーツ画像", class:"img-circle" %>
  </div>
  <div class="col-md-4 items">
    <%= link_to "シャツを探す", select_shirt_user_url(current_user), class:"btn btn-lg btn-outline-primary" %>
    <br>
      <%= image_tag "kitten.jpeg", size: "300x300", alt:"シャツ画像", class:"img-circle" %>
  </div>
  <div class="col-md-4 items">
    <%= link_to "ネクタイを探す", select_tie_user_url(current_user), class:"btn btn-lg btn-outline-primary" %>
    <br>
      <%= image_tag "tie.jpg", size: "300x300", alt:"ネクタイ画像", class:"img-circle" %>
  </div>
</div>
