<% provide(:title, "Result") %>
<div class="results container">
  <h1 class="text-center fadein">あなたにおすすめのスーツはこちら</h1>
  <h3 class="text-center fadein"><%= @reccomend %></h3>
  <div class="row fadein">
    <div class="col-md-6 text-center">
      <%= image_tag @image, class:"size" %>
    </div>
    <div class="col-md-6">
      <p><%= explanation %></p>
      <p><%= pattern %>バランスがよく清潔感のあるコーデに仕上げることができます</p>
    </div>
  </div>
  <h3 class="text-center fadein">上記のスーツにはこんなネクタイとシャツが似合うでしょう</h3>
  <div class="row" id="effect2">
    <div class="col-md-4 col-sm-6 text-center fadein">
      <h2><%= @shirt1 %></h2>
      <%= image_tag @shirt_img1, class:'size' %>
    </div>
    <div class="col-md-4 col-sm-6 text-center fadein">
      <h2><%= @shirt2 %></h2>
      <%= image_tag @shirt_img2, class:'size' %>
    </div>
    <div class="col-md-4 col-sm-6 text-center fadein">
      <h2><%= @shirt3 %></h2>
      <%= image_tag @shirt_img3, class:'size' %>
    </div>
    <div class="row" id="effect2">
      <div class="col-md-4 col-sm-6 text-center fadein">
        <h2><%= @tie1 %></h2>
        <%= image_tag @tie_img1, class:'size' %>
      </div>
      <div class="col-md-4 col-sm-6 text-center fadein">
        <h2><%= @tie2 %></h2>
        <%= image_tag @tie_img2, class:'size' %>
      </div>
      <div class="col-md-4 col-sm-6 text-center fadein">
        <h2><%= @tie3 %></h2>
        <%= image_tag @tie_img3, class:'size' %>
      </div>
    </div>
  </div>
  <div class="recomend text-center">
    <btn class="btn">この検索結果を保存する フラッシュ保存</btn>
    <p><%= link_to "TOPページへ戻る", root_path %></p>
  </div>
</div>
<script>
$(window).scroll(function (){
  $('.fadein').each(function(){
    var elemPos = $(this).offset().top,
    scroll = $(window).scrollTop(),
    windowHeight = $(window).height();
    if (scroll > elemPos - windowHeight + 200){
      $(this).addClass('scrollin');
      }
    });
  });
</script>
