<% provide(:title, "Result") %>
<div class="results container">
  <h1 class="text-center">あなたにおすすめのスーツはこちら</h1>
  <h3 class="text-center"><%= @reccomend %></h3>
  <div class="row">
    <div class="col-md-6 text-center">
      
      <%= image_tag @image, class:"size" %>
    </div>
    <div class="col-md-6">
      <p><%= explanation %></p>
      <p><%= pattern %>バランスがよく清潔感のあるコーデに仕上げることができます</p>
    </div>
  </div>
  <div class="recomend">
    <h3>上記のスーツにはこんなネクタイとシャツが似合うでしょう</h3>
  </div>
  <div class="sub_items">
    <div class="item_info">
      <h2>シャツ</h2>
      <p>無地のシャツ</p>
      <!--ランダムで画像表示したい-->
      <img src= "<%= recomemded_shirt %>" alt="おすすめのシャツ" class="size">
      <img src= "<%= recomemded_shirt %>" alt="おすすめのシャツ" class="size">
      <img src= "<%= recomemded_shirt %>" alt="おすすめのシャツ" class="size">

    </div>
    <div class="item_info">
      <h2>ネクタイ</h2>
      <p>ストライプのネクタイ</p>
    </div>
  </div>

  <div class="recomend">
    <btn class="btn">この検索結果を保存する フラッシュ保存</btn>
    <p><%= link_to "TOPページへ戻る", root_path %></p>
  </div>-->
</div>
